*{margin:0;padding:0;border:0;list-style:none;outline:none;font-size:1em;text-decoration:none;}
a{color:#666;text-decoration:underline;}
a:hover, a:focus{color:#eee;}
a:active{color:#888;}
body{background-color:#191919;padding-top:40px;font:11px/16px"Lucida Grande", Verdana, sans-serif;color:#999;overflow:-moz-scrollbars-vertical;overflow:-webkit-scrollbars-vertical;-webkit-text-size-adjust:none;}
@media screen and (max-width:480px){body{padding-top:0;}
}
#peterhellberg{margin:0 auto;position:relative;width:386px;}
#header{background:url(../images/header.png) no-repeat 50% bottom;height:101px;position:relative;}
h1{font:30px/36px"Helvetica Neue Light", Helvetica, Arial, sans-serif;color:#F4F4F4;padding-top:30px;padding-left:10px;text-shadow:#000 0 1px 0;}
#jobtitle{color:#888;padding-left:10px;line-height:20px;text-shadow:#000 0 1px 0;}
#navigation{height:60px;background:url(../images/navigation.png) no-repeat 50% 0;font-weight:bold;}
#navigation li{float:left;margin-top:2px;}
#navigation li a{text-decoration:none;font:24px/56px"Helvetica Neue Light", Helvetica, Arial, sans-serif;text-align:center;width:120px;height:56px;display:block;}
#nav-networks a{margin-left:0px;margin-right:12px;}
#nav-about a{margin-left:12px;}
#nav-contact a{margin-right:0px; }
.networks #nav-networks a, .about #nav-about a, .contact #nav-contact a{color:#fff;cursor:default;}
.networks #nav-networks a, #nav-networks a:hover{background:transparent url(../images/green.png) no-repeat scroll left 50%;}
.about #nav-about a, #nav-about a:hover{background:transparent url(../images/yellow.png) no-repeat scroll left 50%;}
.contact #nav-contact a, #nav-contact a:hover{background:transparent url(../images/pink.png) no-repeat scroll left 50%;}
#content{padding:10px 20px;background:url(../images/content.png) repeat-y 50% 0;overflow:hidden;}
#footer{background:transparent url(../images/footer.png) no-repeat scroll 50% 0;color:#888888;font-size:9px;line-height:30px;text-align:center;text-shadow:#000 0 1px 0;height:32px;}

#networks{width:345px;float:left;}
#networks li{height:60px;}
#networks li a{
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  display:block;height:50px;padding:10px 0 5px;text-decoration:none;text-shadow:#000 0 1px 0;-webkit-transition:background-color 0.25s linear;}
#networks li a:hover, #networks li a:focus{background:rgba(164, 173, 183, .15);}
#networks li a:active{background:rgba(164, 173, 183, .25);}
#networks li a img{float:left;margin:0 10px 0 15px;-webkit-transition:margin-left 0.25s linear;}
#networks li a strong{color:#F4F4F4;font:18px/20px"Helvetica Neue", Helvetica, Arial, sans-serif;display:block;padding-top:2px;}

#about{width:345px;text-shadow:#000 0 1px 0;}
#about ul{margin-bottom:1em;}
#about li p, #about li li{font:12px/18px"Helvetica Neue", Helvetica, Arial, sans-serif;color:#666;}
#about li li{padding:5px 20px 0 75px;}
#about li p#i{width:50px;float:left;padding:5px 10px 0 15px;text-align:right;}
#about h3{height:60px;font-weight:normal;}
#about h3 a{
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  display:block;height:50px;padding:10px 0 5px;text-decoration:none;text-shadow:#000 0 1px 0;-webkit-transition:background-color 0.25s linear;}
#about h3 a:hover, #about h3 a:focus{background:rgba(164, 173, 183, .15);}
#about h3 a:active{background:rgba(164, 173, 183, .25);}
#about h3 a img{float:left;margin:0 10px 0 15px;-webkit-transition:margin-left 0.25s linear;}
#about h3 a strong{color:#F4F4F4;font:18px/20px"Helvetica Neue", Helvetica, Arial, sans-serif;display:block;padding-top:2px;}

#contact{width:345px;float:left;}
#contact li{height:60px;}
#contact li a{
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  display:block;height:50px;padding:10px 0 5px;text-decoration:none;text-shadow:#000 0 1px 0;-webkit-transition:background-color 0.25s linear;}
#contact li a:hover, #contact li a:focus{background:rgba(164, 173, 183, .15);}
#contact li a:active{background:rgba(164, 173, 183, .25);}
#contact li a img{float:left;margin:0 10px 0 15px;-webkit-transition:margin-left 0.25s linear;}
#contact li a strong{color:#F4F4F4;font:18px/20px"Helvetica Neue", Helvetica, Arial, sans-serif;display:block;padding-top:2px;}
#contact li.fn, #contact li.photos, #contact li.org, #contact li span.type{display:none;}
